<div class="flex items-baseline justify-between text-black">
    <h3 class="font-bold text-base">People you may know</h3>
</div>
<div class="side-list space-y-4">
    <!-- Side List Item -->
    <div class="side-list-item flex items-center gap-4">
        <a>
            <img src="~/images/avatar/user.jpg" class="side-list-image rounded-full w-12 h-12" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title font-semibold">Kazi Raihan Newaz</h4>
            </a>
            <div class="text-sm text-gray-500">5 Followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary px-4 py-1 rounded-md">
                Follow
            </button>
        </form>
    </div>

    <!-- Side List Item -->
    <div class="side-list-item flex items-center gap-4">
        <a>
            <img src="~/images/avatar/user.jpg" class="side-list-image rounded-full w-12 h-12" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title font-semibold">Minhaz</h4>
            </a>
            <div class="text-sm text-gray-500">5 Followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary px-4 py-1 rounded-md">
                Follow
            </button>
        </form>
    </div>

    <!-- Side List Item -->
    <div class="side-list-item flex items-center gap-4">
        <a>
            <img src="~/images/avatar/user.jpg" class="side-list-image rounded-full w-12 h-12" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title font-semibold">Nijam Ahmed</h4>
            </a>
            <div class="text-sm text-gray-500">5 Followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary px-4 py-1 rounded-md">
                Follow
            </button>
        </form>
    </div>
</div>
